
/** posts slider nav **/
.slidernav {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.slidernav a {
  display: inline-block;
  padding: 5px 8px;
  margin-right: 8px;
  font-size: 1.4em;
  background: #fff;
  color: #666;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}
.slidernav a:active {
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}


/** media queries **/
@media screen and (max-width: 660px) {
  h1 { font-size: 2.4em; line-height: 1.2em; }
  
  .crsl-item h3 { font-size: 1.65em; }
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
h4.header-read-news {
  color: #028749;
  font-weight: bold;
  font-size: 180%;

}
 .sub-read-news {
  padding-bottom: 10px;
  font-size: 12px;
  color: #77797C;
  border-bottom: 1px solid #028749;
  margin-bottom: 25px;
}
.blog-news {
  margin-top: 20px;
  background-color: #fff;
  width: 99%;
  margin-left: 1%;
  padding-bottom: 10px;
   /*border: 1px solid #e3e3e3;*/
   margin-bottom: 10px;
  min-height: 100px;
  padding-left: 5px;
  padding-top: 5px;
}
.gallery {
  margin-top: 5px;
  background-color: #fff;
  width: 99%;
  margin-left: 1%;
  padding-bottom: 10px;
 /*  border: 1px solid #e3e3e3;*/
   margin-bottom: 10px;
  min-height: 100px;
  padding-left: 5px;
  padding-top: 5px;
}
.blog-download {
  margin-top: 20px;
  background-color: #fff;
  width: 99%;
  margin-left: 1%;
  padding-bottom: 10px;
   border: 1px solid #e3e3e3;
   margin-bottom: 10px;
  min-height: 50px;
  padding-left: 5px;
  padding-top: 5px;
}
.row-header-news {
  border-bottom: 4px solid #0A3D84;
  margin-bottom: 30px;
  margin-top: 26px;

}
.row-header-news h3 {
 
  color: #FFF;
  font-family: font-family: 'Kanit', serif;
  background-color: #0A3D84;
  font-size: 24px;
  margin-top: -25px ;
  margin-left: -15px;
  position: absolute;
  padding: 10px;
  
}
.news-content {
  width:100%;
  border-bottom: 1px dashed #E9EBEE;
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px;

}
.news-content .img-responsive {
  width: 340px;
  height: 170px;
}
.breadcrumb {
  margin-top:25px;
}
.dropdown-menu li a {
  font-size: 16px;
}